<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<h1>Preprocess CSV data for creating SQLite database</h1>
                               
<form action="/" method="POST">
  <label>File to upload: </label>
  <input type="file" name="filename" value="{{ request.form['filename'] }}" />  
  <label>Enter Database name: </label>
  <input type="text" name="dbname" value="{{ request.form['dbname'] }}" />
  <label>Enter Table name: </label>
  <input type="text" name="table_name" value="{{ request.form['table_name'] }}" />
  <button type="submit">Go</button>
</form>

<br><hr><br>

{% if error %}
    <p class='alert'>{{ error }}</p>
{% elif data %}
    <table class="centered thick-border">
        <tr>
            <th>.CSV data</th>
        </tr>
        {% for d in data %}
            <tr>
                <td>{{ d['name'] }} ({{ d['sys']['country'] }})</td>

            </tr>		
        {% endfor %}
    </table>
{% endif %}
